my
.refresh
__pycache__
.ipynb_checkpoints/
.vscode/
__res/
perf.data
perf.data.old
*.swp
*.ipynb
*.pdf
*.zip
*.tgz
test.py
extern/mkl/mkldnn_lnx*/*
build/
venv/
!*.src.md
!README.md
!README.cn.md
!CHANGELOG.md
python/jittor.egg-info
dist/
!doc/source/*
core
*.log
examples/dyrep_example.py
examples/jodie_example.py
dhp_test.py
dhp_test_arxiv.py